<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <style>
        span {
            padding: 0 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Product Managment System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul style="display:inline-block" class="nav navbar-nav nav-tab-list">

                @if (User.Identity.IsAuthenticated)
                {
                <span style="padding:0 10px">
                    @Html.ActionLink("Product List", "Index", "")
                </span>
                    <span style="padding:0 10px">
                        <a style="color:white"> Dear : @User.Identity.Name</a>
                    </span>
                    <span style="padding:0 10px">
                        @Html.ActionLink("Logout", "Logout", "Account")
                    </span>
                }
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>